#margine{
    width: 800px;
    margin: auto;    
}

.pattern{
    background-image: url("../img/pattern.png");
}

.booleaner{
    width: 200px;
}

.img-sizeA{
    width: 380px;
}

.img-sizeB{
    width: 325px;
}